---

const { env } = Astro.locals.runtime;
let {
    title = "ıllıllı ◢◤ aksell.dev ◢◤ ıllıllı",
    description = "Useful tools from the Aksell Dev team"
} = Astro.props;
let {
    GITHUB_REPO,
    CLOUDFLARE_DASH
} = env;
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons" />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#00c458" />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/og-image.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/og-image.jpg" />
    <style is:global>
        @media (hover: hover) {
            body {
                overscroll-behavior: none;
                touch-action: pan-down;
            }
        }

        body.noscroll {
            height: 100vh;
            width: 100vw;
            touch-action: none;
            -webkit-overflow-scrolling: none;
            overflow: hidden;
            overscroll-behavior: none;
        }

        html {
    block-size: 100%;
}
body {
    min-height: 100%;
}
    body {
        background: linear-gradient(57deg, #353334 0%, rgba(0, 0, 0, 1) 88%);
        color: #fff;
    }
    [data-theme='light'],  [data-theme='light'] body {
        background: linear-gradient(57deg, #d6d6d6 0%, rgb(255, 255, 255) 88%);
        color: #000;
    }
        body {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
                Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
                sans-serif;
            color: #fff;
            background-attachment: fixed;
            margin: 0;
            padding: 3rem;

        }

        body::before {
            content: "";
            position: fixed;
            background-image: var(--bg-img);
            inset: 0;
            opacity: 0.3;
            background-repeat: repeat;
            background-size: cover;
            filter: blur(15px);
            pointer-events: none;
            z-index: -1;
        }

        hr {
            border-color: #585858;
            border-width: 1px;
            border-style: solid;
        }

        html {
            scrollbar-face-color: #646464;
            scrollbar-base-color: #646464;
            scrollbar-3dlight-color: #646464;
            scrollbar-highlight-color: #646464;
            scrollbar-track-color: #000;
            scrollbar-arrow-color: #000;
            scrollbar-shadow-color: #646464;
            scrollbar-dark-shadow-color: #646464;
            font-size: 16px;
        }

        ::-webkit-scrollbar {
            width: 8px;
            height: 3px;
        }

        ::-webkit-scrollbar-button {
            background-color: #666;
        }

        ::-webkit-scrollbar-track {
            background-color: #646464;
        }

        ::-webkit-scrollbar-track-piece {
            background-color: #000;
        }

        ::-webkit-scrollbar-thumb {
            height: 50px;
            background-color: #666;
            border-radius: 3px;
        }

        ::-webkit-scrollbar-corner {
            background-color: #646464;
        }

        ::-webkit-resizer {
            background-color: #666;
        }

        #markdown,
        .container {
            padding-top: 50px;
        }

        @media (max-width: 800px) {
            body {
                padding: 1.25rem;
            }
        }

        .container {
            max-width: 1300px;
            margin: auto;
        }

        a {
            color: #fff;
        }

        a:hover {
            opacity: 0.8;
        }

        *,
        *::after,
        *::before {
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .img {
            width: 100%;
        }
    </style>
</head>

<body>
    <slot />
    <script define:vars={{GITHUB_REPO, CLOUDFLARE_DASH}}>

const keyDown = (e) => {
            /* DISMISS ON ESCAPE */
            if (e.key === 'Escape') {
                closeCMDK();
            }
            /* OPEN USING CMD+K */
            if (e.metaKey || e.ctrlKey) {
                switch (e.code) {
                    case 'KeyK':
                        e.preventDefault();
                        openCMDK();
                        break;
                }
            }
            if (e.altKey && e.shiftKey) {
                switch (e.code) {
                    case 'KeyG':
                        window.open(GITHUB_REPO);
                    case 'KeyC':
                        window.open(CLOUDFLARE_DASH);
                        break;
                }
            }
        };
        document.addEventListener('keydown', keyDown);
    </script>
</body>

</html>
